@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap");

.post {
    padding: 0 35px;
    color: #333;
    font-size: 13px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.post.MuiGrid-item {
    margin-top: 0;
    margin-bottom: 0;
}

.post:hover {
    background-color: #fafafa;
}

.post .delete-post {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.post:hover .delete-post {
    opacity: 1;
}

.posts-error,
.no-posts-found {
    padding: 5rem 0;
}

@media (max-width: 959px) {
    .post {
        padding: 25px 5px 0px 5px;
    }

    .post .post-author {
        display: block;
        margin-top: 10px;
    }

    .post .delete-post {
        padding-top: 0 !important;
        opacity: 1;
    }

    .post .delete-post .MuiSvgIcon-root {
        width: 1.2em;
        height: 1.2em;
    }

    .posts-wrapper .MuiToolbar-root {
        padding: 20px 20px 10px 20px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .posts-wrapper .MuiTablePagination-input + .MuiTablePagination-caption {
        width: 100%;
        margin-top: 10px;
    }

    .posts-wrapper .MuiTablePagination-actions {
        width: 100%;
        margin-left: auto;
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .MuiContainer-maxWidthLg {
        max-width: 92%;
    }
}
